//  Fonts colors
$base-header-color: #333333;
$base-color: #999999;
$secondary-color: #f38181;

//Background
$base-background: #ffffff;
$base-btn-background: #95e1d3;
$secondary-btn-background: #fce38a;
$secondary-btn-background-active: #f38181;

//Fonts
$font: "Montserrat Regular", "Tahoma", sans-serif;
$font-itelic: "Kaushan Script", "Tahoma", sans-serif;
$font-bold: "Montserrat Regular", "Tahoma", sans-serif;

//Breakpoints
$mobile-only: 320px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
