//  Fonts colors
$base-header-color: #333333;
$base-color: #999999;
$secondary-color: #f38181;

//Background
$base-background: #ffffff;
$base-btn-background: #95e1d3;
$secondary-background: #f8f8f8;
$secondary-btn-background: #fce38a;
$secondary-btn-background-active: #f38181;

//Fonts
$font: "Montserrat Regular", "Tahoma", sans-serif;
$font-italic: "Kaushan Script", "Tahoma", sans-serif;
$font-bold: "Montserrat Bold", "Tahoma", sans-serif;
$alternative-font: "Roboto Regular", "Tahoma", sans-serif;
$alternative-font-light: "Roboto Light", "Tahoma", sans-serif;
$alternative-font-lightitalic: "Roboto Lightitalic", "Tahoma", sans-serif;

//Breakpoints
$mobile-only: 320px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
