.footer-social {
  display: flex;
  align-items: center;
  padding-top: 13px;
  margin-bottom: 36px;
  &__header{
    display: block;
    margin-right: 16px;

    font-size: 15px;
    line-height: 24px;
    font-family: $alternative-font-lightitalic;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    width: 236px;
    height: 16px;
  }
  &__link {
    width: 236px/8;
  }
  &__icon {
    width: 20px;
    height: 16px;

    fill: $base-btn-background;
  }
}

.footer-social__link:hover > .footer-social__icon {
  fill: $secondary-btn-background-active;
}
