.introduction-row {
  box-sizing: border-box;
  width: 100%;
  min-height: 750px;

  margin: 0 auto;
  padding-top: 90px;
  &__item-group {
    display: inline-flex;
    justify-content: space-between;

    width: 1200px;

    margin: 0 auto;
  }
  &__item {
    position: relative;
    width: 380px;
    height: 250px;

    background-color: $base-btn-background;
  }
  &__img {
    &--translation {
      position: absolute;
      left: -10px;
      top: -10px;
    }
  }
  &__team {
    display: block;
    position: absolute;
    left: -10px;
    top: -10px;

    width: 380px;
    height: 250px;

    font-family: $font-bold;
    font-size: 24px;
    line-height: 305px;
    color: #ffffff;
    background-image: linear-gradient(to top, rgba(252,227,138,0.9), rgba(243,129,129,0.9));
    z-index: 10;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left:50%;

      width: 35px;
      height: 25px;

      background: url("../img/icons/users.svg") no-repeat;
      transform: translate(-50%, -50%);
    }
  }
}

.introduction-row__item:hover > .introduction-row__img--translation {
  left: 0;
  top: 0;
}

.introduction-row__item:hover > .introduction-row__team {
  display: none;
}
