.main-nav {
  display: flex;
  justify-content: space-between;
  min-width: (1200/1920)*100%;
  margin: 0 auto;

  margin-bottom: 165px;
  padding-top: 20px;
  &__item {
    width: 40%;
    text-align: left;
    color: #ffffff;
    font-family: $font-bold;
    font-size: 30px;
  }
}
