.main-menu {
  width: 620px;
  display: flex;
  justify-content: flex-end;
  &__list {
    width: 540px;
    display: flex;
    justify-content: space-around;

    list-style: none;
  }
  &__item {
    display: inline-block;
    width: calc(540px/5);
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    &:hover {
      padding-bottom: 8px;

      text-decoration: none;
      color: #fce38a;
      border-bottom: 3px solid #fce38a;
    }
  }
}

.main-menu__link:hover > .main-menu__img {
  fill: #fce38a;
}
