.main-footer {
  width: 1920px;
  min-height: 500px;

  padding-top: 70px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: (1200/1920)*100%;
    min-height: 500px;

    margin: 0 auto;
  }
}
