.main-footer {
  width: 100%;
  min-height: 500px;

  padding-top: 70px;

  background-color: $secondary-background;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 500px;

    padding: 0 15px;

    margin: 0 auto;
  }
}
