.stay-connected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: (510/1200)*100%;
  &__header {
    margin: 0;
    margin-bottom: 24px;

    font-size: 46px;
    font-family: $font-bold;
    color: #cccccc;
    text-align: left;
  }
  &__description {
    max-width: 460px;

    margin: 0;
    margin-bottom: 42px;

    font-size: 15px;
    font-family: $alternative-font;
    color: #b4b4b4;
    text-align: left;
  }
  &__followers {
    display: flex;
    justify-content: flex-start;

    margin-right: 30px;
    padding-bottom: 18px;

    line-height: 14px;
    color: $base-header-color;
    border-bottom: 1px solid #e5e5e5;
  }
  &__followers-count {
    align-self: flex-end;
    margin-right: 2px;

    font-size: 18px;
    font-family: $font-bold;
  }
  &__input-group {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  &__input {
    width: 230px;
    height: 40px;

    padding-left: 15px;

    border: 1px solid #e7e7e7;
  }
  &__label {
    position: absolute;
    top: 10px;
    left: 15px;

    font-family: $alternative-font-lightitalic;
  }
  &__btn {
    width: 150px;

    padding: 0;

    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    background-color: $base-btn-background;
  }
}

.stay-connected__input:focus ~ .stay-connected__label {
  display: none;
}

.stay-connected__input:valid ~ .stay-connected__label {
  display: none;
}
