.stay-connected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: (510/1200)*100%;
  &__header {
    margin: 0;
    margin-bottom: 16px;

    font-size: 46px;
    font-family: $font-bold;
    color: #cccccc;
    text-align: left;
  }
  &__description {
    max-width: 460px;

    margin: 0;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 24px;
    font-family: $alternative-font;
    color: #b4b4b4;
    text-align: left;
  }
  &__followers {
    display: flex;
    justify-content: flex-start;

    margin-right: 30px;
    padding-bottom: 16px;

    border-bottom: 1px solid #e5e5e5;
  }
  &__followers-count {
    margin-right: 2px;

    font-size: 18px;
    font-family: $font-bold;
    color: $base-header-color;
  }
}
